<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%X{sequence} [%d] %-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <!--log4jdbc-log4j2 -->
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>

    <!--doma2 -->
    <logger name="org.seasar.doma" level="OFF"/>

    <!--thymeleaf -->
    <logger name="org.thymeleaf" level="ERROR"/>

    <!--hikariCP -->
    <logger name="org.zaxxer.hikari" level="ERROR"/>


    <!--rootログレベルと使用出力ルール -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>