<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>アカウント登録完了画面</title>
  <link rel="stylesheet" th:href="@{/accountRegistrationComplete/accountRegistrationComplete.css}">
</head>
<body>
<header>
  <h1>脱毛管理アプリ</h1>
</header>
<main>
  <h3>アカウントの登録が完了しました。</h3>
  <p>※ログインにはユーザーID、パスワードが必要なので忘れないようにしてください。</p>
  <div class = registerInfo>
    <p>
      ユーザーID：<span th:text="${userId}"></span>
      <input type="hidden" id="userId" name="userId" th:value="${userId}">
    </p>
    <p>
      ユーザー名：<span th:text="${userName}"></span>
    </p>
    <p>
      パスワード：<span th:text="${passwordHash}"></span>
    </p>
  </div>
  <div class="loginLink">
    <a href="login">ログイン画面へ</a>
  </div>
</main>
</body>
</html>