<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>アカウント変更確認画面</title>
  <link rel="stylesheet" th:href="@{/accountUpdateCheck/accountUpdateCheck.css}">
</head>
<body>
<header>
  <h1>脱毛管理アプリ</h1>
</header>
<main>
  <h2>以下の内容で登録してよろしいですか？</h2>
  <form th:action="@{/accountUpdateComplete}" method="POST">
    <div class = registerInfo>
      <p>
        ユーザー名：<span th:text="${userName}"></span>
        <input type="hidden" id="userName" name="userName" th:value="${userName}">
      </p>
      <p>
        パスワード：<span th:text="${passwordHash}"></span>
        <input type="hidden" id="passwordHash" name="passwordHash" th:value="${passwordHash}">
      </p>
    </div>
    <button type="submit">登録完了</button>
  </form>
  <div class="accountUpdateInputLink">
    <a href="accountUpdateInput">戻る</a>
  </div>

</main>

</body>
</html>