<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>アカウント登録画面</title>
  <link rel="stylesheet" th:href="@{/accountInput/accountInput.css}">
<body>
<header>
  <h1>脱毛管理アプリ</h1>
</header>
<main>
  <h1>アカウント登録</h1>
  <form th:action="@{/accountRegister}" method="POST">


    <div class="userName">
      <label for="userName">ユーザー名:
        <input type="text" id="userName" name="userName" required></label>
    </div>
    <div class="password">
      <label for="password">パスワード:
        <input type="password" maxlength="8" id="password" name="password" required></label>
    </div>
    <button type="submit">登録</button>
  </form>

  <div class="loginLink">
    <p>すでにアカウントをお持ちの方は→
    <a href="login">ログイン</a></p>
  </div>
</main>
</body>
</html>