<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>脱毛管理画面</title>
  <link rel="stylesheet" th:href="@{/home/home.css}">
</head>
<body>
<header>
  <h1>脱毛管理アプリ</h1>
  <div class="userInfo">
    <span>ようこそ！<span th:text="${user.userName}"></span>さん！</span>
    <div class="accountLink">
      <a href="">アカウントを変更する</a>
    </div>
  </div>
</header>
<main>
  <div class = "mainTitle">
    <h1>脱毛管理シート</h1>
  </div>
  <div class = "dataLink">
    <div class="logLink">
     <a href="logInput">記録する</a>
    </div>
    <div class="historyLink">
      <a href="logList">履歴を見る</a>
    </div>
  </div>

  <h2>次回の脱毛予定</h2>
  <div class="nextScheduleTitle">
    <table border="1" width="400">
      <tr>
        <th>日付</th>
        <th>部位</th>
        <th>何回目</th>
      </tr>
      <div class="nextSchedule" th:each="next : ${nextSchedule}">
           <tr align="center">
             <td class="date" th:text="${next.nextDate}"></td>
             <td class="bodyPart" th:text="${next.name}"></td>
             <td class="sessionCount" th:text="${next.sessionCount}"></td>
           </tr>
      </div>
    </table>
  </div>
</main>

</body>
</html>