<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>脱毛管理画面</title>
  <link rel="stylesheet" th:href="@{/home/home.css}">
</head>
<body>
<header>
  <h1>脱毛管理シート</h1>
  <div class="userInfo">
    <span>ようこそ！<span th:text="${user.userName}"></span>さん！</span>
    <div class="accountLink">
      <a href="">アカウントを変更する</a>
    </div>
  </div>
</header>
<main>
  <div class = "dataLink">
    <div class="logLink">
     <a href="">記録する</a>
    </div>
    <div class="historyLink">
      <a href="">履歴を見る</a>
    </div>
  </div>

  <h2>次回の脱毛予定</h2>
  <div class="nextScheduleTitle">
  <h3>日付</h3>
  <h3>部位</h3>
  <h3>回数</h3>
  </div>

  <div class="nextSchedule" th:each="schedule, stat : ${nextSchedules}">
    <p class="date" th:text="${schedule.nextDate}"></p>
    <p class="bodyPart" th:text="${schedule.bodyCode}"></p>
    <p class="sessionCount" th:text="${hairRemovalLogs[__${stat.index}__].sessionCount}"></p>
  </div>

</main>

</body>
</html>