<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ログイン画面</title>
  <link rel="stylesheet" th:href="@{/login/login.css}">
</head>
<body>
<header>
  <h1>脱毛管理アプリ</h1>
</header>
<main>
  <h1>ログイン</h1>
  <form action="#" th:action="@{/login}" method="post">
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
      ログインエラーメッセージ</p>

  <div class="userId">
    <label>ユーザーID：<input type="text"  id="userId" name="userId"/></label>
  </div>
  <div class="password">
  <label>パスワード：<input type="text" id="password" name="password"/></label>
  </div>
    <div class="login">
      <button type="submit">ログイン</button></div>
  </form>
  <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
  <div class="accountInputLink">
    <p>アカウント登録がまだの方はこちら→
    <a href="accountInput">登録</a></p>
  </div>
</main>
</body>
</html>