<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>脱毛日入力画面</title>
  <link rel="stylesheet" th:href="@{/logInput/logInput.css}">
</head>
<body>
<header>
  <h1>脱毛管理アプリ</h1>
</header>
<main>
  <h1>脱毛日入力シート</h1>
  <form th:action="@{/logRegister}" method="POST">
    <div class="date">
    <label for="date">日付:</label>
    <input type="date" id="date" name="date" required>
    </div>
    <div class="bodyPart">
    <label>部位:</label>
      <select class="bodyPart" name="bodyPart">
        <div th:each="bodyName : ${bodyPart}" >
          <option th:value="${bodyName.name}">
            [[${bodyName.name}]]
          </option>
        </div>
      </select>
    </div>
      <div class="nextDate">
    <label for="nextDate">次回脱毛日:</label>
    <input type="date" id="nextDate" name="nextDate" required>
      </div>
    <button type="submit">登録</button>
  </form>

  <div class="homeLink">
    <a href="home">戻る</a>
  </div>

</main>
</body>
</html>