<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>脱毛履歴管理画面</title>
  <link rel="stylesheet" th:href="@{/logList/logList.css}">
</head>
<body>
<header>
<h1>脱毛管理アプリ</h1>
</header>
<main>
  <h1>脱毛履歴</h1>
  <div class="homeLink">
    <a href="home">脱毛管理シートへ</a>
  </div>

  <div class="logListTitle">
    <table border="1" width="400">
      <tr>
        <th>日付</th>
        <th>部位</th>
        <th>回数</th>
      </tr>
      <div class="logList" th:each="log : ${hairRemovalLog}">
        <tr align="center">
          <td class="date" th:text="${log.date}"></td>
          <td class="bodyPart" th:text="${log.name}"></td>
          <td class="sessionCount" th:text="${log.sessionCount}"></td>
        </tr>
      </div>
    </table>
  </div>
  <div class="homeLink">
    <a href="home">脱毛管理シートへ</a>
  </div>
</main>
</body>
</html>