body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #eeffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    margin: 0;
}

.userInfo {
     text-align: right;
}

.accountLink {
    margin-top: 20px;
}

.accountLink a {
    color: #007bff;
    text-decoration: none;
}

.accountLink a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.dataLink {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.dataLink a {
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.dataLink a:hover {
    background-color: #007bff;
    color: #ffffff;
}

.nextScheduleTitle, .nextSchedule {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.nextScheduleTitle h3, .nextSchedule p {
    width: 100px;
    text-align: center;
    margin: 0;
}

.nextSchedule {
    margin-top: 30px;
}